  <footer>
    <p>The MikeRaph´s Flow ©</p>
  </footer>

  <script>
    const inputElement = document.getElementById("miInput");
    window.onload = function() {
    inputElement.focus();
    };
</script>
</body>
</html>