<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
        <title>ToDoList</title>
</head>
<body>
    <div class="navbar">
        <h1> <%= listTitle %> </h1>
        <!-- <button onclick="window.location.href='/'">Hoy</button> -->
        <!-- <button onclick="window.location.href='/laburo'">Trabajo</button> -->
    </div>
    
    <div class="content">
        <div>
            <h1>to do list</h1>
            <p class="procrastinar">vamos a dejar de procrastinar?</p>
        </div>
        <hr>